.title {
  text-align: center;
  color: antiquewhite;
}
.heading {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.1rem;
}
.grid {
  margin: 5%;
  height: 120px;
  width: 450px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5%;
}

.main {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 800px;
  gap: 2%;
  margin-left: 34%;
}

.slot {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  color: #fff;
  border-radius: 3px;
  border: 1px solid rgb(9, 138, 155);
  cursor: pointer;
}

.slot-vacant {
  background-color: #177408;
}
.slot-vacant:hover {
  background-color: rgb(10, 79, 10);
  cursor: pointer;
  transition: background-color 0.5s ease-out;
}

.slot-booked {
  animation: fadeIn 1s;
  background-color: rgb(20, 19, 19);
}
.slot-booked:hover {
  background-color: rgb(2, 2, 2);
  cursor: pointer;
  transition: background-color 0.5s ease-out;
}
.form {
  display: inline-block;
  border: 2px solid;
  border-radius: 3%;
  box-shadow: 3px 5px 8px rgb(86, 85, 85);
  padding: 2%;
  width: 265px;
  height: 335px;
  text-align: center;
  margin-left: 23%;
  background-color: rgb(5, 49, 75);
  color: rgb(210, 220, 228);
  opacity: 1;
  animation: fadeIn 1s;
}

.booking-form {
  display: inline-block;
  padding: 5px;
  height: 25px;
  width: 180px;
  margin: 5px;
  border-radius: 3px;
}
.register-form {
  height: 25px;
  width: 180px;
  margin: 5px;
}

.btn {
  padding: 10px;
  margin-top: 10px;
  border-radius: 1rem;
  border: none;
  background-color: #086274;
  color: antiquewhite;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.btn:hover {
  background-color: #1f4e58;
  cursor: pointer;
  transition: background-color 1s ease-out;
}

.slot-booked-msg,
.min-waiting,
.bad-req-msg {
  color: rgb(233, 224, 224);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: brown;
  margin-left: 23%;
  border: 2px solid #bc653a;
  border-radius: 5px;
  width: 250px;
  text-align: center;
  padding: 8px;
  box-shadow: 1px 0px 5px rgb(208, 134, 134);
  animation: blinker 1s linear 10;
}

.bad-req-msg {
  margin-top: 55px;
  margin-left: 0;
}

.success-msg {
  padding: 6px;
  height: 80px;
  width: 500px;
  background-color: #1c7a0ecf;
  color: aliceblue;
  text-align: center;
  border: 2px solid #1a0971;
  border-radius: 5px;
  box-shadow: 1px 0px 5px rgb(161, 206, 127);
  animation: blinker 1s linear infinite;
}

.available-box {
  height: 25px;
  width: 210px;
  background-color: #177408;
  color: blanchedalmond;
  padding: 5px;
  text-align: center;
  margin-left: 12%;
  border-radius: 3px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
